body {
	background-color: #F9EDE3
}
h1 {
	font-size: 50px;
	text-align: center;
	font-family: 'Comfortaa', cursive;
	color: #3F3C38;
	font-weight: 700;
	border: 10px;
}
h4 {
	font-size: 20px;
	text-align: center;
	font-family: 'Comfortaa', cursive;
	font-weight: 400;
	margin: 0px 70px 20px 70px;
}
h3	{
	color: #3F3C38;
	text-decoration: none;
	font-family: 'Comfortaa', cursive;
	text-align: center;
	font-weight: 700;
	font-size: 35px;
}
a {
	color: #50D8BF;
	text-decoration: none;
	font-family: 'Comfortaa', cursive;
	text-align: center;
	border: 100px;
}
p	{
	text-align: center;
}

.smaller-text {
	font-size: 20px;
	font-weight: 400
}

#special {
	color: pink;
}

#main-img {
	height: auto;
}
.social {
	font-size: 30px;
}

h2	{
	font-size: 25px;
	text-align: center;
	font-family: 'Comfortaa', cursive;
	color: #5b5656;
}	
img	{
	width: 900px;
	height: auto;
	display: block;
	margin: auto;
}

.responsive-container {
	background-color: #F9EDE3;
	width: 100%
}

.flex-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
}
.padding {
	margin: 35px 0px;
}

.square {
	height: 200px;
	width: auto;
	object-fit: cover;
}
@media (max-width: 960px) {
	.responsive-container {
		background-color: #F9EDE3;
	}
}

@media (max-width: 600px) {
	.responsive-container {
		background-color: #F9EDE3;
	}
}

@media (max-width: 450px) {
	.flex-container {
		flex-direction: column;
	}
	.square {
		margin: 10px;
		width: 300px;
		height:auto;
	}
	
}
